.register-con{
  max-width: 350px !important;
  padding: 40px 40px;
  background-color: #f7f7f7;
  padding: 50px 25px 30px;
  margin: auto;
  margin-top: 50px;
  margin-right: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-con{
  max-width: 300px;
  max-height: fit-content;
  padding: 50px 25px 10px;
  margin: auto;
  margin-top: 50px;
  /* margin-right: 40px;  */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
@media (prefers-reduced-motion: no-preference) {
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 10px 20px;
}

.login-form{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto; 
  margin-right: auto; 
}

.list-form{
  width:90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto; 
  margin-right: auto; 
}

.details-form{
  overflow: scroll;
  margin-top: 15px;
  margin-bottom: 15px;
}
.nav-menu__link{
  display: inline-block;

  text-decoration: none;

}
.container{
  margin-top: 15px;
  margin-bottom: 15px;
}
.search-form{
  margin-bottom: 15px;
}
.app-back{
  height:100%;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  margin: 0;
  height: 100%;
  font-size: small;
}
#root{
  height: 100%;
}

.btn{
  margin-left:5px;
  margin-right:5px;
}
#iconbutton{
  margin-left:5px;
  margin-right:5px;
}

#username-chg[type="text"]{
  display: none;
}
.upload-icon{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  
}
.btn-regoback{
  background-color: #37474f;
  margin: 10px 0px 20px;
  color: #eceff1;
  border-radius: 5px;
  cursor: pointer;
}
.btn-regoback:disabled,
.btn-regoback[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.Reset{
  margin: 30px 0px;
}
.forgot-pass{
  text-align: center;
  color: #37474f;
}

.img-holder{
  margin: auto;
  width: 250px;
  height: 250px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#photo-upload[type="file"]{
  display: none;
}
.upload-icon{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.dropdown{
  height: 40px;
} 
