<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Password Reset</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

     

         
<form th:action="@{/reset_password}" method="post" style="max-width: 400px; margin: 0 auto;">
<input type="hidden" name="token" th:value="${token}"/>
<div class="border border-secondary rounded p-3" style="padding-top:100px">
   <div class="card " >
   	<h2 class="card-header text-center" style="padding-bottom:20px">Reset Your Password</h2>
    <div class="card-body" >
        <p style="padding:10px">
           <input type="password" name="password" id="password" class="form-control"
           	required autofocus placeholder ="Enter your new password"/>
        </p>    
        <p style="padding:10px">
           <input type="password" id="confirmPassword" class="form-control"
           	placeholder ="Confirm your new password" 
           	required/>
        </p>      
        <p class="text-center" style="padding:10px">
            <input type="submit"id="btnSubmit"  value="Change Password" class="btn btn-primary" />
        </p>
    </div>
   	
   
   </div>
    
</div>
</form>
<script type="text/javascript" >
$(function() {
    $("#btnSubmit").click(function() {
    	var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        if(password.length < 8) {  
            swal("Password length must be atleast 8 characters") ;  
            return false;  
          }  
        if (password.search(/[a-z]/i) < 0) {
        	 swal("Password must contain at least one letter, one digit and one special characters") ;  
             return false;  
        }
        if (password.search(/[0-9]/) < 0) {
            swal("Password must contain at least one letter, one digit and one special characters")
            return false;  
        }   
        if(password.search(/[?=.*[!@#\$%\^&\*]/) <0 ){
           swal("Password must contain at least one letter, one digit and one special characters")
           return false;
        }  
        if (password != confirmPassword) {
        	swal("Password do not match.");
            return false;
        }
        return true;
    });
});
</script>
</body>
</html>